:root {
    /* used to scale spritesheet */
    --pixel-size: 6;
}

body {
    background-color: grey;
}

h1 {
    color: pink;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

aside {
    margin-left: 50px;

    border: 1px solid green;
}

aside .game-info {
    margin-top: 100px;

    border: 1px solid pink;
}

#start-screen {
    display: grid;
}

#game-screen,
#end-screen {
    display: none;

    border: 1px solid black;
}

#start-screen,
#game-screen,
#end-screen {
    justify-content: center;
}

#end-game-button {
    width: 100px;
    height: 50px;
    margin-top: 50px;
}

.player {
    width: calc(25px * var(--pixel-size));
    height: calc(25px * var(--pixel-size));
    /* hide the rest of the spritesheet */
    overflow: hidden;
    /* put the player at the bottom of the game board*/
    grid-row: 2;
    /* position: relative; */
    /* left: 0vw; */

    border: 1px solid green;
}

.player-spritesheet {
    width: calc(100px * var(--pixel-size));
    animation: moveSpritesheet 0.5s steps(4) infinite;
}

.in-jump {
    animation: jump-animation 0.5s linear;
}

@keyframes moveSpritesheet {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-100%, 0);
    }
}

@keyframes jump-animation {
    0% {
        transform: translateY(0x);
    }

    25% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(-250px);
    }

    75% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bullet-animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(1000px);
    }
}

#screen-too-small {
    display: none;
}

@media (max-width: 800px) {
    #screen-too-small {
        display: block;
    }

    #start-screen,
    #game-screen,
    #end-screen,
    aside {
        display: none;
    }
}



/*
TODO

.additional-info {
    flex-basis: 100%;
    margin-top: 50px;
}

.additional-info .tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.additional-info .tag-list li {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem;
}

.additional-info .scroller {
    max-width: 100px;
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.additional-info .scroller_inner {
    padding-block: 1rem;
    display: flex;
    gap: 1rem;
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 10s forwards linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

*/