:root {
    --background-color: #485f77;
    --font-family: system-ui;
    --font-size: 1.125rem;
}


/* ---------------------------------------------------- */
/* CSS Reset https://andy-bell.co.uk/a-modern-css-reset/*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
/* img,
picture,
svg {
    max-width: 100%;
    display: block;
} */

/* ---------------------------------------------------- */

body {
    /* background-color: var(--background-color); */
    background-color: grey;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: white;
}

.header {
    top: 0;
    width: 1200px;
    height: 100px;
    border: 2px solid green;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.header .background-music-container {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.main {
    display: flex;
    height: 800px;
}

.screen {
    border: 2px solid black;
    width: 1000px;
}

.aside {
    border: 2px solid pink;
    width: 200px;
}

.footer {
    border: 2px solid yellow;
    width: 1200px;
}

#game-board {

    background-color: skyblue;
    background-image: url("../../assets/mid_ground_cloud_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
}

@keyframes moveSpritesheet {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-100%, 0);
    }
}

@keyframes jump-animation {
    0% {
        transform: translateY(0x);
    }

    25% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(-300px);
    }

    75% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bullet-animation {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(1000px);
    }
}

/* Display message for screens that are too small */
#screen-too-small {
    display: none;
}

@media (max-width: 1200px) or (max-height: 800px) {

    .main,
    .credits {
        display: none;
    }

    #screen-too-small {
        display: block;

    }

    #screen-too-small p {
        font-size: 20px;
    }
}